**Install Required Libraries**

  Ensure you install the necessary libraries using pip before proceeding with your code:

*  pip install pandas openpyxl sqlalchemy matplotlib seaborn plotly gspread oauth2client

**Import and Configure Libraries**

  Below is the code to configure and use the libraries for working with Excel files, Google Drive, SQL databases, and data visualization:

In [ ]:
# Importing libraries for data handling, visualization, and database operations:
# - os: For operating system interactions (e.g., file and directory management).
# - pandas (pd): For data manipulation and analysis using DataFrames.
# - openpyxl: For reading/writing Excel (.xlsx) files.
# - numpy (np): For numerical computations with arrays.
# - matplotlib.pyplot (plt): For creating static and interactive visualizations.
# - seaborn (sns): For statistical data visualizations built on Matplotlib.
# - plotly.express (px): For interactive and dynamic visualizations.
# - create_engine (SQLAlchemy): For establishing database connections.

import os
import pandas as pd
import openpyxl  # Import openpyxl explicitly
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
from sqlalchemy import create_engine

**Reading Excel File from Windows Filesystem**

In [ ]:
# File handling and data preview:
# - Specify the file path to locate the Excel file.
# - Read the Excel file into a Pandas DataFrame using the specified engine ('openpyxl').
# - Display the first few rows of the DataFrame for a quick preview using .head().

'''
# Specify the file path
file_path = "C:/Windows/User/Desktop/SampleFile.xlsx"

# Read the Excel file
# - file_path: The path to the Excel file
# - engine='openpyxl': Specifies the engine to use for reading .xlsx files
df_local = pd.read_excel(file_path, engine='openpyxl')

# Display the first 5 rows (Default Argument
print(df_local.head())

# Argument: n=10 (shows the first 10 rows)
print(df_local.head(10))
'''

'\n# Specify the file path\nfile_path = "C:/Windows/User/Desktop/SampleFile.xlsx"\n\n# Read the Excel file\ndf_local = pd.read_excel(file_path, engine=\'openpyxl\')\n\n# Display the first few rows\nprint(df_local.head())\n'

**Query Rows in SQL DB using pyodbc or sqlalchemy**

In [ ]:
'''
import pyodbc

# Define your connection parameters
server = 'host.domain.subdomain.com,port'
database = 'your_database_name'

# Create the connection string
connection_string = f'DRIVER={{ODBC Driver 17 for SQL Server}};SERVER={server};DATABASE={database};Trusted_Connection=yes;'

# Establish the connection
connection = pyodbc.connect(connection_string)
print("Connection successful!")

import pandas as pd

# Define the SQL query
query = "SELECT TOP 10 * FROM SN_Data"

# Execute the query and load the results into a DataFrame
df_testframe = pd.read_sql(query, connection)

# Display the DataFrame
print(df_testframe)

###############

from sqlalchemy import create_engine

# Define your connection parameters
server = 'host.domain.subdomain.com,port'
database = 'your_database_name'

# Create the connection string
connection_string = f'mssql+pyodbc://{server}/{database}?trusted_connection=yes&driver=ODBC+Driver+17+for+SQL+Server'

# Create an SQLAlchemy engine
engine = create_engine(connection_string)

# Establish the connection
connection = engine.connect()
print("Connection successful!")


import pandas as pd

# Define the SQL query
query = "SELECT TOP 10 * FROM SN_Data"

# Execute the query and load the results into a DataFrame
df_testframe = pd.read_sql(query, connection)

# Display the DataFrame
print(df_testframe)
'''

Table and Dataframe Joins

In [ ]:
'''
SQL Joins
In SQL, joins are used to combine rows from two or more tables based on a related column. Here are the different types of joins:

INNER JOIN: Returns only the rows with matching values in both tables.


SELECT *
FROM SQLTest_Table1
INNER JOIN SQLTest_Table2
ON SQLTest_Table1.common_column = SQLTest_Table2.common_column;
Use when: You want to retrieve records that have matching values in both tables.
LEFT JOIN (or LEFT OUTER JOIN): Returns all rows from the left table and the matched rows from the right table. If no match is found, NULL values are returned for columns from the right table.


SELECT *
FROM SQLTest_Table1
LEFT JOIN SQLTest_Table2
ON SQLTest_Table1.common_column = SQLTest_Table2.common_column;
Use when: You want to retrieve all records from the left table and the matched records from the right table.
RIGHT JOIN (or RIGHT OUTER JOIN): Returns all rows from the right table and the matched rows from the left table. If no match is found, NULL values are returned for columns from the left table.


SELECT *
FROM SQLTest_Table1
RIGHT JOIN SQLTest_Table2
ON SQLTest_Table1.common_column = SQLTest_Table2.common_column;
Use when: You want to retrieve all records from the right table and the matched records from the left table.
FULL JOIN (or FULL OUTER JOIN): Returns rows when there is a match in one of the tables. It returns all rows from both tables, with NULLs in places where the match is not found.


SELECT *
FROM SQLTest_Table1
FULL JOIN SQLTest_Table2
ON SQLTest_Table1.common_column = SQLTest_Table2.common_column;
Use when: You want to retrieve all records when there is a match in either left or right table records.
Pandas Joins
In pandas, you can use the merge function to perform joins on dataframes. Here are the different types of joins:

Inner Join: Returns only the rows with matching values in both dataframes.


result = pd.merge(df_testframe1, df_testframe2, on='common_column', how='inner')
Use when: You want to retrieve records that have matching values in both dataframes.
Left Join: Returns all rows from the left dataframe and the matched rows from the right dataframe. If no match is found, NaN values are returned for columns from the right dataframe.


result = pd.merge(df_testframe1, df_testframe2, on='common_column', how='left')
Use when: You want to retrieve all records from the left dataframe and the matched records from the right dataframe.
Right Join: Returns all rows from the right dataframe and the matched rows from the left dataframe. If no match is found, NaN values are returned for columns from the left dataframe.


result = pd.merge(df_testframe1, df_testframe2, on='common_column', how='right')
Use when: You want to retrieve all records from the right dataframe and the matched records from the left dataframe.
Outer Join: Returns all rows from both dataframes, with NaN values in places where the match is not found.


result = pd.merge(df_testframe1, df_testframe2, on='common_column', how='outer')
Use when: You want to retrieve all records when there is a match in either left or right dataframe records.
'''

**Query Specific Columns in SQL Table**

In [ ]:
'''
For SQL Server:

SELECT TOP 10 Column1, Column2, Column3
FROM SQLTest_Table;
For MySQL, PostgreSQL, SQLite, etc.:

SELECT Column1, Column2, Column3
FROM SQLTest_Table
LIMIT 10;
These queries will return the first 10 rows of the specified columns from the SQLTest_Table. If you need to execute this query in a Jupyter notebook, you can use a library like pandas along with a database connector (e.g., sqlalchemy, pyodbc) to run the SQL query and fetch the results into a DataFrame. Here's an example using pandas and sqlalchemy:


import pandas as pd
from sqlalchemy import create_engine

# Create a connection to the database
engine = create_engine('your_database_connection_string')

# Define the SQL query
query = "SELECT Column1, Column2, Column3 FROM SQLTest_Table LIMIT 10;"

# Execute the query and load the results into a DataFrame
df = pd.read_sql(query, engine)

# Display the DataFrame
print(df)
'''

**Reading Excel File from Google Drive**

In [ ]:
from google.colab import drive

# Mount Google Drive
drive.mount('/content/drive')

# Specify the file path on Google Drive
file_path = "/content/drive/My Drive/Python Reference Sheets/Practice Data and Notebook/PracticeDataforPython.xlsx"

# Read the Excel file
df_testframe = pd.read_excel(file_path, engine='openpyxl')

# Display the first few rows
print(df_testframe.head())

#Display the data type of each column
print(df_testframe.dtypes)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
                Date                 Name  Height (ft)  Weight (lbs)  \
0  December 17, 2024       Donna Gonzalez         5.78         189.4
1         2016-12-23      Spencer Edwards        54.00         173.0
2     March 23, 2024     Jonathan Anthony         5.98         148.0
3         2019-02-09  Alexander Butler MD        61.00         177.0
4     March 02, 2024   Christopher Harris         4.95         195.0

        State         City                 LatLong
0  New Mexico  Albuquerque  -79.931169, 115.848934
1    New York      Buffolo   54.908244, -35.580677
2     Georgia      Atlanta  -78.086051, 148.729005
3    Illinois      Chicago    12.092409, 78.449137
4      Nevada    Las Vegas   -51.727222, -0.276747
Date             object
Name             object
Height (ft)     float64
Weight (lbs)    float64
State            object
City             object
LatLong          object
dtype: object

**Set Data Types for each Column, standardize format, and identify outliers**

In [ ]:
# Function to standardize the date format
def standardize_date(date_str):
    # List of possible date formats
    date_formats = [
        '%B %d, %Y',  # March 12, 2003
        '%m/%d/%Y',   # 03/12/2003
        '%m/%d/%y',   # 3/12/03
        '%-m/%-d/%Y', # 1/1/2004
        '%-m/%-d/%y', # 01/01/04
        '%B %d, %Y'   # January 1, 2004
    ]

    # Check if the date is already in YYYY-MM-DD format
    if pd.to_datetime(date_str, errors='coerce', format='%Y-%m-%d') is not pd.NaT:
        return date_str

    # Try each format until one works
    for date_format in date_formats:
        try:
            return pd.to_datetime(date_str, format=date_format).strftime('%Y-%m-%d')
        except ValueError:
            continue

    # If none of the formats work, return the original string
    return date_str

# Apply the function to the Date column
df_testframe['Date'] = df_testframe['Date'].apply(standardize_date)

# Convert the Date column to datetime
df_testframe['Date'] = pd.to_datetime(df_testframe['Date'], errors='coerce')

#print(df_testframe)

**Standardize Name Formats**

In [ ]:
# Function to standardize name format
def standardize_name(name):
    # Check if the name is in the 'Last, First Middle' format
    if ', ' in name:
        parts = name.split(', ')
        if len(parts) == 2:
            last_name, first_middle = parts
            first_middle_parts = first_middle.split()
            if len(first_middle_parts) == 2:
                first, middle = first_middle_parts
                return f'{first} {middle} {last_name}'
            elif len(first_middle_parts) == 3:
                first, middle, suffix = first_middle_parts
                return f'{first} {middle} {last_name} {suffix}'
            else:
                return f'{first_middle} {last_name}'
        else:
            return name
    else:
        return name

# Apply the function to the Name column
df_testframe['Name'] = df_testframe['Name'].apply(standardize_name)

#print(df_testframe)

**Convert Columns from Float to Integer**

In [ ]:


# Separate rows with NaN values in the Weight column and reset Index
df_irregular = df_testframe[df_testframe['Weight (lbs)'].isna()].reset_index(drop=True)




# Keep only rows with non-NaN values in the Weight column and reset Index
df_testframe = df_testframe[df_testframe['Weight (lbs)'].notna()].reset_index(drop=True)


# Round the Weight column to the nearest whole number
df_testframe['Weight (lbs)'] = df_testframe['Weight (lbs)'].round(0)

# Handle NaN or infinite values by filling them with a default value (e.g., 0)
# df_testframe['Weight (lbs)'] = df_testframe['Weight (lbs)'].fillna(0)



# Convert the Weight column from float to integer
df_testframe['Weight (lbs)'] = df_testframe['Weight (lbs)'].astype(int)

print("Regular DataFrame (df_testframe):")
#print(df_testframe)

print("\nIrregular DataFrame (df_irregular):")
print(df_irregular)

Regular DataFrame (df_testframe):

Irregular DataFrame (df_irregular):
        Date             Name  Height (ft)  Weight (lbs)    State     City  \
0 2024-09-12  Angela Williams         5.68           NaN  Florida  Orlando
1 1987-09-04   Robert Johnson        60.00           NaN    Texas   Austin

                  LatLong
0  89.518640, -130.200572
1    79.637555, 64.902028

**Change column sequence and sort rows**

In [ ]:
# Resequence the columns
column_order = ['Date', 'Name', 'Height (ft)', 'Weight (lbs)', 'City', 'State', 'LatLong']
df_testframe = df_testframe.reindex(columns=column_order)
df_irregular = df_irregular.reindex(columns=column_order)


# Create a temporary column with the last name extracted from the Name column
df_testframe['LastName'] = df_testframe['Name'].apply(lambda x: x.split()[-1])

# Create a temporary column with the first 3 characters of the State column
df_testframe['State_First3'] = df_testframe['State'].str[:3]

# Sort df_testframe by the first 3 characters of the State column in Z-A order and then by LastName in A-Z order
df_testframe = df_testframe.sort_values(by=['State_First3', 'LastName'], ascending=[False, True]).reset_index(drop=True)

# Drop the temporary columns
df_testframe = df_testframe.drop(columns=['State_First3', 'LastName'])


#print(df_testframe)

**Explore the general quantity shape and distinct values of a dataframe**

In [ ]:
def Explore_Data(df):
    print("First few rows of the DataFrame:")
    print(df.head())
    print("\nSummary statistics:")
    print(df.describe(include='all'))
    print("\nInformation about the DataFrame:")
    print(df.info())
    print("\nNumber of missing values in each column:")
    print(df.isnull().sum())
    print("\nUnique values in each column:")
    for column in df.columns:
        print(f"{column}: {df[column].nunique()} unique values")
    print("\nValue counts for each column:")
    for column in df.columns:
        print(f"{column}:")
        print(df[column].value_counts(dropna=False))

# Apply the Explore_Data function to df_testframe
Explore_Data(df_testframe)

First few rows of the DataFrame:
        Date             Name  Height (ft)  Weight (lbs)         City  \
0 2002-10-17    Vanessa Jones        77.00           217       Dallas
1 2024-10-29   Kristen Miller         4.56           155       Austin
2 2024-03-17    Shannon Boone         4.70           120     Santa Fe
3 2016-12-23  Spencer Edwards        54.00           173      Buffolo
4 2024-12-17   Donna Gonzalez         5.78           189  Albuquerque

        State                  LatLong
0       Texas     44.098017, 14.031824
1      Tex,as   64.998524, -124.977125
2  New Mexico  -64.283114, -129.733085
3    New York    54.908244, -35.580677
4  New Mexico   -79.931169, 115.848934

Summary statistics:
                       Date           Name  Height (ft)  Weight (lbs)  \
count                    18             18    18.000000     18.000000
unique                  NaN             18          NaN           NaN
top                     NaN  Vanessa Jones          NaN           NaN
freq                    NaN              1          NaN           NaN
mean    2012-10-30 16:00:00            NaN    35.372222    167.055556
min     1972-08-20 00:00:00            NaN     4.550000    120.000000
25%     2006-10-09 18:00:00            NaN     5.172500    147.250000
50%     2021-03-08 00:00:00            NaN    30.140000    163.000000
75%     2024-03-13 06:00:00            NaN    60.750000    186.000000
max     2024-12-17 00:00:00            NaN    77.000000    217.000000
std                     NaN            NaN    31.712002     28.916660

            City       State               LatLong
count         18          18                    17
unique        13           9                    17
top     Santa Fe  New Mexico  44.098017, 14.031824
freq           3           4                     1
mean         NaN         NaN                   NaN
min          NaN         NaN                   NaN
25%          NaN         NaN                   NaN
50%          NaN         NaN                   NaN
75%          NaN         NaN                   NaN
max          NaN         NaN                   NaN
std          NaN         NaN                   NaN

Information about the DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          18 non-null     datetime64[ns]
 1   Name          18 non-null     object
 2   Height (ft)   18 non-null     float64
 3   Weight (lbs)  18 non-null     int64
 4   City          18 non-null     object
 5   State         18 non-null     object
 6   LatLong       17 non-null     object
dtypes: datetime64[ns](1), float64(1), int64(1), object(4)
memory usage: 1.1+ KB
None

Number of missing values in each column:
Date            0
Name            0
Height (ft)     0
Weight (lbs)    0
City            0
State           0
LatLong         1
dtype: int64

Unique values in each column:
Date: 18 unique values
Name: 18 unique values
Height (ft): 17 unique values
Weight (lbs): 15 unique values
City: 13 unique values
State: 9 unique values
LatLong: 17 unique values

Value counts for each column:
Date:
Date
2002-10-17    1
2024-10-29    1
2024-03-23    1
2009-04-02    1
1972-08-20    1
2019-02-09    1
2005-12-12    1
2024-03-02    1
1991-05-30    1
2023-08-16    1
2023-08-12    1
2023-04-05    1
2024-09-04    1
2014-09-28    1
2024-12-17    1
2016-12-23    1
2024-03-17    1
1980-07-20    1
Name: count, dtype: int64
Name:
Name
Vanessa Jones          1
Kristen Miller         1
Jonathan Anthony       1
Michael Anderson       1
Scott Potter           1
Alexander Butler MD    1
Steven Jones           1
Christopher Harris     1
Alex Smith             1
Jane Smith             1
Robert Smith           1
Bradley Lopez          1
Julie Hernandez        1
Cynthia Hebert         1
Donna Gonzalez         1
Spencer Edwards        1
Shannon Boone          1
Christopher Lawson     1
Name: count, dtype: int64
Height (ft):
Height (ft)
77.00    2
76.00    1
5.98     1
60.00    1
73.00    1
61.00    1
56.00    1
4.95     1
5.93     1
4.56     1
4.55     1
4.97     1
6.28     1
5.78     1
54.00    1
4.70     1
55.00    1
Name: count, dtype: int64
Weight (lbs):
Weight (lbs)
217    2
155    2
163    2
120    1
173    1
189    1
141    1
147    1
131    1
168    1
195    1
209    1
177    1
139    1
148    1
Name: count, dtype: int64
City:
City
Santa Fe         3
Buffalo          2
Chicago          2
Atlanta          2
Dallas           1
Austin           1
Buffolo          1
Albuquerque      1
New York City    1
Trenton          1
Las Vegas        1
Springfield      1
Los Angeles      1
Name: count, dtype: int64
State:
State
New Mexico    4
New York      4
Illinois      3
Georgia       2
Texas         1
Tex,as        1
New Jersey    1
Nevada        1
California    1
Name: count, dtype: int64
LatLong:
LatLong
44.098017, 14.031824       1
64.998524, -124.977125     1
-78.086051, 148.729005     1
-61.203240, 64.973237      1
17.259917, -11.502040      1
12.092409, 78.449137       1
15.035926, -49.681280      1
-51.727222, -0.276747      1
45.158004, 96.695544       1
-69.380686, 138.523842     1
NaN                        1
17.353626, -41.483768      1
44.462486, -25.763822      1
69.242968, 51.426673       1
-79.931169, 115.848934     1
54.908244, -35.580677      1
-64.283114, -129.733085    1
-1.167150, 92.081577       1
Name: count, dtype: int64

**Perform basic calculations and Summary (Pivots) of data with categorization**

In [ ]:
# Sample data
data = {
    'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04'],
    'Name': ['John Doe', 'Jane Smith', 'Alice Johnson', 'Bob Brown'],
    'Height (ft)': [5.9, 5.5, 5.7, 6.0],
    'Weight (lbs)': [70.5, 65.2, 80.8, np.nan],  # Including a NaN value for demonstration
    'State': ['California', 'New York', 'Texas', 'Florida'],
    'City': ['Los Angeles', 'New York', 'Houston', 'Miami'],
    'LatLong': ['34.0522,-118.2437', '40.7128,-74.0060', '29.7604,-95.3698', '25.7617,-80.1918']
}

# df_testframe = pd.DataFrame(data)

# 1. Sum of the "Weight (lbs)" column
total_weight = df_testframe['Weight (lbs)'].sum()
print(f"Total sum of 'Weight (lbs)': {total_weight}")

# 2. Sum of "Weight (lbs)" for "State" values matching "Texas" and subtract that from the sum of "Weight (lbs)" for "State" values matching "New York"
weight_texas = df_testframe[df_testframe['State'] == 'Texas']['Weight (lbs)'].sum()
weight_new_york = df_testframe[df_testframe['State'] == 'New York']['Weight (lbs)'].sum()
difference = weight_new_york - weight_texas
print(f"Difference in 'Weight (lbs)' between New York and Texas: {difference}")


# Indicate which state had the greater value
if difference > 0:
    print(f"New York has a greater sum of 'Weight (lbs)' by {difference} lbs compared to Texas.")
elif difference < 0:
    print(f"Texas has a greater sum of 'Weight (lbs)' by {-difference} lbs compared to New York.")
else:
    print("The sum of 'Weight (lbs)' for Texas and New York is equal.")



# 3. Pivot table showing the sums of "Weight (lbs)" and "Height (ft)" grouped by "State" and "City"
pivot_table = df_testframe.pivot_table(values=['Weight (lbs)', 'Height (ft)'], index=['State', 'City'], aggfunc='sum')
print("Pivot table:")
print(pivot_table)

Total sum of 'Weight (lbs)': 3007
Difference in 'Weight (lbs)' between New York and Texas: 389
New York has a greater sum of 'Weight (lbs)' by 389 lbs compared to Texas.
Pivot table:
                          Height (ft)  Weight (lbs)
State      City
California Los Angeles          55.00           163
Georgia    Atlanta              65.98           287
Illinois   Chicago             117.00           386
           Springfield          73.00           217
Nevada     Las Vegas             4.95           195
New Jersey Trenton              76.00           168
New Mexico Albuquerque           5.78           189
           Santa Fe             15.53           424
New York   Buffalo              81.97           302
           Buffolo              54.00           173
           New York City         5.93           131
Tex,as     Austin                4.56           155
Texas      Dallas               77.00           217

# **Visualization Explanation:**

**Matplotlib Visualizations:**
- Bar Plot of Weight by State: Shows the total weight by state.
- Scatter Plot of Height vs. Weight: Shows the relationship between height and weight.
- Pie Chart of State Distribution: Shows the distribution of states.

**Seaborn Visualizations:**
- Box Plot of Weight by State: Shows the distribution of weights within each state.
- Violin Plot of Height by State: Shows the distribution of heights within each state.
- Heatmap of Correlation Matrix: Shows the correlation matrix for numeric columns only.

**Plotly Visualizations:**
- Bar Plot of Weight by State: Shows the total weight by state.
Scatter Plot of Height vs. Weight: Shows the relationship between height and weight.
- Pie Chart of State Distribution: Shows the distribution of states.

*By selecting only the numeric columns for the correlation matrix, the error is resolved, and the visualizations provide a comprehensive overview of the sample data.*

In [ ]:
'''
import pandas as pd  # Import the pandas library for data manipulation
import numpy as np  # Import numpy for numerical operations
import matplotlib.pyplot as plt  # Import matplotlib's pyplot for creating visualizations
import seaborn as sns  # Import seaborn for statistical data visualizations
import plotly.express as px  # Import plotly.express for interactive plots
import plotly.graph_objects as go  # Import plotly.graph_objects for advanced interactive plots

# Sample data in a dictionary format
data = {
    'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04'],
    'Name': ['John Doe', 'Jane Smith', 'Alice Johnson', 'Bob Brown'],
    'Height (ft)': [5.9, 5.5, 5.7, 6.0],
    'Weight (lbs)': [70.5, 65.2, 80.8, np.nan],  # Including a NaN value for demonstration
    'State': ['California', 'New York', 'Texas', 'Florida'],
    'City': ['Los Angeles', 'New York', 'Houston', 'Miami'],
    'LatLong': ['34.0522,-118.2437', '40.7128,-74.0060', '29.7604,-95.3698', '25.7617,-80.1918']
}

# Create a pandas DataFrame from the sample data
df_testframe = pd.DataFrame(data)

# Matplotlib Visualizations

# Bar Plot of Weight by State
plt.figure(figsize=(10, 6))  # Create a new figure with specified size (width=10, height=6)
df_testframe.groupby('State')['Weight (lbs)'].sum().plot(kind='bar', color='skyblue')
# Group data by 'State', sum the 'Weight (lbs)' for each state, and plot as a bar chart
# Arguments:
# - kind='bar': Specifies a bar plot
# - color='skyblue': Sets the color of the bars
plt.title('Total Weight by State')  # Set the title of the plot
plt.xlabel('State')  # Set the label for the x-axis
plt.ylabel('Total Weight (lbs)')  # Set the label for the y-axis
plt.xticks(rotation=45)  # Rotate the x-axis labels by 45 degrees for better readability
plt.show()  # Display the plot

# Scatter Plot of Height vs. Weight
plt.figure(figsize=(10, 6))  # Create a new figure with specified size (width=10, height=6)
plt.scatter(df_testframe['Height (ft)'], df_testframe['Weight (lbs)'], color='green')
# Create a scatter plot for 'Height (ft)' vs. 'Weight (lbs)'
# Arguments:
# - color='green': Sets the color of the points
plt.title('Height vs. Weight')  # Set the title of the plot
plt.xlabel('Height (ft)')  # Set the label for the x-axis
plt.ylabel('Weight (lbs)')  # Set the label for the y-axis
plt.show()  # Display the plot

# Pie Chart of State Distribution
plt.figure(figsize=(8, 8))  # Create a new figure with specified size (8x8 inches)
df_testframe['State'].value_counts().plot(kind='pie', autopct='%1.1f%%', startangle=140, colors=['gold', 'yellowgreen', 'lightcoral', 'lightskyblue'])
# Plot a pie chart for state distribution using value counts of the 'State' column
# Arguments:
# - kind='pie': Specifies a pie chart
# - autopct='%1.1f%%': Shows percentage values on the chart
# - startangle=140: Rotates the chart to start from a specific angle
# - colors: List of colors to use for different segments of the pie
plt.title('State Distribution')  # Set the title of the plot
plt.ylabel('')  # Remove the y-axis label (default for pie charts)
plt.show()  # Display the plot

# Seaborn Visualizations

# Box Plot of Weight by State
plt.figure(figsize=(10, 6))  # Create a new figure with specified size (width=10, height=6)
sns.boxplot(x='State', y='Weight (lbs)', data=df_testframe)
# Create a box plot for 'Weight (lbs)' by 'State'
# Arguments:
# - x='State': Specifies the categorical variable (states)
# - y='Weight (lbs)': Specifies the numeric variable (weight)
# - data=df_testframe: Specifies the DataFrame to use
plt.title('Weight Distribution by State')  # Set the title of the plot
plt.xlabel('State')  # Set the label for the x-axis
plt.ylabel('Weight (lbs)')  # Set the label for the y-axis
plt.xticks(rotation=45)  # Rotate the x-axis labels by 45 degrees for readability
plt.show()  # Display the plot

# Violin Plot of Height by State
plt.figure(figsize=(10, 6))  # Create a new figure with specified size (width=10, height=6)
sns.violinplot(x='State', y='Height (ft)', data=df_testframe)
# Create a violin plot for 'Height (ft)' by 'State'
# Arguments:
# - x='State': Specifies the categorical variable (states)
# - y='Height (ft)': Specifies the numeric variable (height)
# - data=df_testframe: Specifies the DataFrame to use
plt.title('Height Distribution by State')  # Set the title of the plot
plt.xlabel('State')  # Set the label for the x-axis
plt.ylabel('Height (ft)')  # Set the label for the y-axis
plt.xticks(rotation=45)  # Rotate the x-axis labels by 45 degrees for readability
plt.show()  # Display the plot

# Heatmap of Correlation Matrix (only for numeric columns)
plt.figure(figsize=(10, 6))  # Create a new figure with specified size (width=10, height=6)
numeric_columns = df_testframe.select_dtypes(include=[np.number]).columns  # Select numeric columns from the DataFrame
correlation_matrix = df_testframe[numeric_columns].corr()  # Compute the correlation matrix for numeric columns
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm')
# Create a heatmap to visualize correlations between numeric variables
# Arguments:
# - annot=True: Annotates the heatmap with the correlation values
# - cmap='coolwarm': Specifies the color map for the heatmap
plt.title('Correlation Matrix')  # Set the title of the plot
plt.show()  # Display the plot

# Plotly Visualizations

# Bar Plot of Weight by State
fig = px.bar(df_testframe.groupby('State')['Weight (lbs)'].sum().reset_index(), x='State', y='Weight (lbs)', title='Total Weight by State')
# Create a bar plot using Plotly Express for total weight by state
# Arguments:
# - df_testframe.groupby('State')['Weight (lbs)'].sum().reset_index(): Group by 'State' and sum 'Weight (lbs)', then reset index
# - x='State': Specifies the x-axis variable (states)
# - y='Weight (lbs)': Specifies the y-axis variable (total weight)
# - title='Total Weight by State': Sets the title of the plot
fig.show()  # Display the Plotly figure

# Scatter Plot of Height vs. Weight
fig = px.scatter(df_testframe, x='Height (ft)', y='Weight (lbs)', title='Height vs. Weight')
# Create a scatter plot using Plotly Express for 'Height (ft)' vs. 'Weight (lbs)'
# Arguments:
# - x='Height (ft)': Specifies the x-axis variable (height)
# - y='Weight (lbs)': Specifies the y-axis variable (weight)
# - title='Height vs. Weight': Sets the title of the plot
fig.show()  # Display the Plotly figure

# Pie Chart of State Distribution
fig = px.pie(df_testframe, names='State', title='State Distribution')
# Create a pie chart using Plotly Express for the distribution of 'State'
# Arguments:
# - names='State': Specifies the column to use for pie chart categories
# - title='State Distribution': Sets the title of the plot
fig.show()  # Display the Plotly figure
'''

"\nimport pandas as pd\nimport numpy as np\nimport matplotlib.pyplot as plt\nimport seaborn as sns\nimport plotly.express as px\nimport plotly.graph_objects as go\n\n# Sample data\ndata = {\n    'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04'],\n    'Name': ['John Doe', 'Jane Smith', 'Alice Johnson', 'Bob Brown'],\n    'Height (ft)': [5.9, 5.5, 5.7, 6.0],\n    'Weight (lbs)': [70.5, 65.2, 80.8, np.nan],  # Including a NaN value for demonstration\n    'State': ['California', 'New York', 'Texas', 'Florida'],\n    'City': ['Los Angeles', 'New York', 'Houston', 'Miami'],\n    'LatLong': ['34.0522,-118.2437', '40.7128,-74.0060', '29.7604,-95.3698', '25.7617,-80.1918']\n}\n\ndf_testframe = pd.DataFrame(data)\n\n# Matplotlib Visualizations\n\n# Bar Plot of Weight by State\nplt.figure(figsize=(10, 6))\ndf_testframe.groupby('State')['Weight (lbs)'].sum().plot(kind='bar', color='skyblue')\nplt.title('Total Weight by State')\nplt.xlabel('State')\nplt.ylabel('Total Weight (lbs)')\nplt.xticks(rotation=45)\nplt.show()\n\n# Scatter Plot of Height vs. Weight\nplt.figure(figsize=(10, 6))\nplt.scatter(df_testframe['Height (ft)'], df_testframe['Weight (lbs)'], color='green')\nplt.title('Height vs. Weight')\nplt.xlabel('Height (ft)')\nplt.ylabel('Weight (lbs)')\nplt.show()\n\n# Pie Chart of State Distribution\nplt.figure(figsize=(8, 8))\ndf_testframe['State'].value_counts().plot(kind='pie', autopct='%1.1f%%', startangle=140, colors=['gold', 'yellowgreen', 'lightcoral', 'lightskyblue'])\nplt.title('State Distribution')\nplt.ylabel('')\nplt.show()\n\n# Seaborn Visualizations\n\n# Box Plot of Weight by State\nplt.figure(figsize=(10, 6))\nsns.boxplot(x='State', y='Weight (lbs)', data=df_testframe)\nplt.title('Weight Distribution by State')\nplt.xlabel('State')\nplt.ylabel('Weight (lbs)')\nplt.xticks(rotation=45)\nplt.show()\n\n# Violin Plot of Height by State\nplt.figure(figsize=(10, 6))\nsns.violinplot(x='State', y='Height (ft)', data=df_testframe)\nplt.title('Height Distribution by State')\nplt.xlabel('State')\nplt.ylabel('Height (ft)')\nplt.xticks(rotation=45)\nplt.show()\n\n# Heatmap of Correlation Matrix (only for numeric columns)\nplt.figure(figsize=(10, 6))\nnumeric_columns = df_testframe.select_dtypes(include=[np.number]).columns\ncorrelation_matrix = df_testframe[numeric_columns].corr()\nsns.heatmap(correlation_matrix, annot=True, cmap='coolwarm')\nplt.title('Correlation Matrix')\nplt.show()\n\n# Plotly Visualizations\n\n# Bar Plot of Weight by State\nfig = px.bar(df_testframe.groupby('State')['Weight (lbs)'].sum().reset_index(), x='State', y='Weight (lbs)', title='Total Weight by State')\nfig.show()\n\n# Scatter Plot of Height vs. Weight\nfig = px.scatter(df_testframe, x='Height (ft)', y='Weight (lbs)', title='Height vs. Weight')\nfig.show()\n\n# Pie Chart of State Distribution\nfig = px.pie(df_testframe, names='State', title='State Distribution')\nfig.show()\n"

**Create Fuzzy Keyword-Matching rules and tagging to new KeyMatch column**

In [ ]:

#!pip install fuzzywuzzy
#!pip install python-Levenshtein  # Optional, for better performance
from fuzzywuzzy import fuzz
from fuzzywuzzy import process
import re

"""
If you prefer using rapidfuzz (recommended for speed):

Replace from fuzzywuzzy import fuzz with from rapidfuzz.fuzz import partial_ratio.
Install it using pip install rapidfuzz.
"""

# Example DataFrame named df_testframe

df_testframe = pd.DataFrame(df_testframe)

# Define your keywords
keywords = ["Texas", "One", "Three", "Four", "simple"]

#keywords = ["ZZZZZZZZZZZZZZZ"]

# Function to perform fuzzy search and append matches
def fuzzy_search_and_append(df, keywords, threshold=80):
    exact_matches_found = False
    fuzzy_matches_found = False

    def custom_fuzzy_score(str1, str2):
        return max(
            fuzz.partial_ratio(str1, str2),
            fuzz.token_sort_ratio(str1, str2),
            fuzz.token_set_ratio(str1, str2)
        )

    def strip_special_chars(text):
        return re.sub(r'[^a-zA-Z0-9\s]', '', text)

    def has_valid_context(keyword, cell_value):
        # Check if the keyword is surrounded by at least 2 characters (excluding spaces and special characters)
        pattern = re.compile(r'[a-zA-Z0-9]{2,}')
        before = pattern.search(cell_value[:cell_value.find(keyword)])
        after = pattern.search(cell_value[cell_value.find(keyword) + len(keyword):])
        return not (before and after)

    # Ensure KeyMatch and KeyMatch_Variance columns exist
    if 'KeyMatch' not in df.columns:
        df['KeyMatch'] = ''
    if 'KeyMatch_Variance' not in df.columns:
        df['KeyMatch_Variance'] = ''

    previous_unique_matches_count = 0

    while True:
        new_exact_matches_found = False
        new_fuzzy_matches_found = False
        current_unique_matches_count = 0

        for index, row in df.iterrows():
            exact_matches = set()
            fuzzy_matches = set()
            new_matches = set()  # Initialize to avoid uninitialized variable error
            new_variances = set()  # Initialize to avoid uninitialized variable error

            for col in df.columns:
                if col not in ['KeyMatch', 'KeyMatch_Variance']:
                    cell_value = str(row[col])
                    for keyword in keywords:
                        try:
                            # Strip special characters and spaces
                            stripped_keyword = strip_special_chars(keyword).replace(' ', '')
                            stripped_cell_value = strip_special_chars(cell_value).replace(' ', '')

                            # Calculate fuzzy score
                            ratio = custom_fuzzy_score(stripped_keyword.lower(), stripped_cell_value.lower())
                            # Adjust threshold based on keyword length
                            adjusted_threshold = threshold - min(10, len(keyword) // 2)
                            if ratio >= adjusted_threshold:
                                # Check if the matched portion is an exact match
                                matched_portion = process.extractOne(keyword, [cell_value], scorer=custom_fuzzy_score, score_cutoff=adjusted_threshold)[0]
                                if matched_portion.lower() == keyword.lower():
                                    exact_matches.add(keyword)
                                else:
                                    # Check if the matched portion contains special characters or spaces
                                    if re.search(r'[^a-zA-Z0-9]', matched_portion) and len(matched_portion) > 2 and not matched_portion.isdigit() and has_valid_context(keyword, cell_value):
                                        fuzzy_matches.add((matched_portion, keyword))
                                    # Include the original cell value in KeyMatch_Variance if it contains special characters
                                    if re.search(r'[^a-zA-Z0-9]', cell_value):
                                        fuzzy_matches.add((cell_value, keyword))
                        except Exception as e:
                            # Ignore any errors during fuzzy search
                            print(f"Error processing {keyword} in {cell_value}: {e}")

            # Append exact matches to KeyMatch
            if exact_matches:
                new_exact_matches_found = True
                existing_matches = set(row.get('KeyMatch', '').split('|'))
                new_matches = exact_matches - existing_matches

                if new_matches:
                    if row.get('KeyMatch', ''):
                        df.at[index, 'KeyMatch'] += '|' + '|'.join(new_matches)
                    else:
                        df.at[index, 'KeyMatch'] = '|'.join(new_matches)

            # Append fuzzy matches to KeyMatch_Variance
            if fuzzy_matches:
                new_fuzzy_matches_found = True
                existing_variances = set(row.get('KeyMatch_Variance', '').split('|'))
                new_variances = {fuzzy[0] for fuzzy in fuzzy_matches if fuzzy[0] not in existing_variances}

                if new_variances:
                    if row.get('KeyMatch_Variance', ''):
                        df.at[index, 'KeyMatch_Variance'] += '|' + '|'.join(new_variances)
                    else:
                        df.at[index, 'KeyMatch_Variance'] = '|'.join(new_variances)

                # Append corresponding keywords to KeyMatch
                corresponding_keywords = {fuzzy[1] for fuzzy in fuzzy_matches if fuzzy[1] not in exact_matches}
                if corresponding_keywords:
                    existing_matches = set(row.get('KeyMatch', '').split('|'))
                    new_matches = corresponding_keywords - existing_matches

                    if new_matches:
                        if row.get('KeyMatch', ''):
                            df.at[index, 'KeyMatch'] += '|' + '|'.join(new_matches)
                        else:
                            df.at[index, 'KeyMatch'] = '|'.join(new_matches)

            # Count unique matches for this iteration
            try:
                current_unique_matches_count += len(new_matches) + len(new_variances)
            except Exception as e:
                print(f"Error calculating unique matches count: {e}")

        # If no new matches are found, break the loop
        if not new_exact_matches_found and not new_fuzzy_matches_found:
            break

        # Check if the number of unique matches has increased
        if current_unique_matches_count <= previous_unique_matches_count:
            break

        # Update the previous unique matches count
        previous_unique_matches_count = current_unique_matches_count



    return df

    # Ensure KeyMatch and KeyMatch_Variance columns exist if there are matches
    if not exact_matches_found and 'KeyMatch' in df.columns:
        df.drop(columns=['KeyMatch'], inplace=True)
    if not fuzzy_matches_found and 'KeyMatch_Variance' in df.columns:
        df.drop(columns=['KeyMatch_Variance'], inplace=True)


# Perform fuzzy search and append matches
df_testframe = fuzzy_search_and_append(df_testframe, keywords)

print(df_testframe)

         Date                 Name  Height (ft)  Weight (lbs)           City  \
0  2002-10-17        Vanessa Jones        77.00           217         Dallas
1  2024-10-29       Kristen Miller         4.56           155         Austin
2  2024-03-17        Shannon Boone         4.70           120       Santa Fe
3  2016-12-23      Spencer Edwards        54.00           173        Buffolo
4  2024-12-17       Donna Gonzalez         5.78           189    Albuquerque
5  2014-09-28       Cynthia Hebert        77.00           155        Buffalo
6  2024-09-04      Julie Hernandez         6.28           141       Santa Fe
7  2023-04-05        Bradley Lopez         4.97           147        Buffalo
8  2023-08-12         Robert Smith         4.55           163       Santa Fe
9  2023-08-16           Jane Smith         5.93           131  New York City
10 1991-05-30           Alex Smith        76.00           168        Trenton
11 2024-03-02   Christopher Harris         4.95           195      Las Vegas
12 2005-12-12         Steven Jones        56.00           209        Chicago
13 2019-02-09  Alexander Butler MD        61.00           177        Chicago
14 1972-08-20         Scott Potter        73.00           217    Springfield
15 2009-04-02     Michael Anderson        60.00           139        Atlanta
16 2024-03-23     Jonathan Anthony         5.98           148        Atlanta
17 1980-07-20   Christopher Lawson        55.00           163    Los Angeles

         State                  LatLong   KeyMatch KeyMatch_Variance
0        Texas     44.098017, 14.031824  One|Texas     Vanessa Jones
1       Tex,as   64.998524, -124.977125      Texas            Tex,as
2   New Mexico  -64.283114, -129.733085        One     Shannon Boone
3     New York    54.908244, -35.580677
4   New Mexico   -79.931169, 115.848934
5     New York     69.242968, 51.426673
6   New Mexico    44.462486, -25.763822
7     New York    17.353626, -41.483768
8   New Mexico                      NaN
9     New York   -69.380686, 138.523842
10  New Jersey     45.158004, 96.695544
11      Nevada    -51.727222, -0.276747
12    Illinois    15.035926, -49.681280        One      Steven Jones
13    Illinois     12.092409, 78.449137
14    Illinois    17.259917, -11.502040
15     Georgia    -61.203240, 64.973237
16     Georgia   -78.086051, 148.729005
17  California     -1.167150, 92.081577